<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <style type="text/css">
      form{
        padding: 20px;
      }
      
    </style>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.min.js"></script>
    <script>
          $(document).ready(function(){
            $("#yelemma").click(function(){
              $("#yelemma").animate({left:'250px'});
            })
          });

          
    </script>
  </head>
  <body>
<div class="jumbotron">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
      <p><a href="index.php" style="color:white;">Ye-Lemma CMS</a></p>
    </div>
  </div>
</div>
<!--
    <nav class="navbar navbar-primary">
    <div class="container-fluid">
      <div class="navbar-header col-lg-2">
        <a class="navbar-brand" href="#">HOME</a>
      </div>
      <div class="navbar-header col-lg-2">
        <a class="navbar-brand" href="#">Account</a>
      </div>
      <div class="navbar-header col-lg-2">
        <a class="navbar-brand" href="#">About</a>
      </div>

    </div>
    </nav> -->

    <div class="user_input">
    <h2 class="login">About Us</h2>
    <form role="form">
      <div class="form-group">
        <div class="row">
          <div class="col-lg-11">
            <h3>YE-LEMMA INTERNAL MEDICINE AND PEDIATRICS CLINIC</h3>
            <p>Our medical center is a specialized center that provides services in Internal Medicine and Pediatrics (Child health) by specialist medical doctors in the specified fields. The center provides extensive medical services to the community and even government hospitals in its vicinities through its diagnostic facilities that accompany the medical center.</p>
            <p>Our diagnostic facility provides all the routine tests of hematology, Urine and stool tests. But, apart from that there are specialized tests that our diagnostic center provides and here are some of them:</p>
          </div>
        </div>
      </div>


      <div class="form-group">
      <div class="row">
          <div class="col-lg-9">
            <h4>1. Laboratory</h4>
          </div>
          </div>
          <div class="col-lg-5">
            <label>
              <ul>
              <li>Clinical Chemistry</li>
              <li>Hormone analysis</li>
              <li>Serum electrolytes</li>
              <li>PT & PTT</li>
              <li>Pregnancy test</li>
              <li>Lipase & Amylase tests</li>
              <li>Serology tests</li>
              <li>Alpha‐Feto protein</li>
              <li>ANA, ASO</li>
              <li>HIV Test</li>
              <li>Hepatitis B & C tests</li>
              <li>PSA, etc</li>
            </ul>
            </label>
          </div>

        </div>

          <div class="form-group">
            <div class="row">
          <div class="col-lg-9">
            <h4>2. Radiology</h4>
          </div>
        </div>
        <div class="col-lg-5">
            <label>
              <ul>
              <li>X‐Rays for different organs</li>
              <li>PNS</li>
              <li>IVP (IVU)</li>
              <li>Hystero‐Salpingography (HSG)</li>
              <li>Cysto‐Urethrogarphy (CUG)</li>
              <li>Echocardiography</li>
              <li>EKG</li>
              <li>Doppler study of vascular systems</li>
              <li>Brain and Eye ultrasonography</li>
              <li>Obstetric ultrasonography</li>
              <li>Fetal Biophysical profile study</li>
              <li>Chest ultrasound</li>
              <li>Musculoskeletal ultrasonography</li>
              <li>Scrotum, prostate, thyroid and breast ultrasonography</li>
              <li>Abdomen and pelvic study</li>
            </ul>
            </label>
          </div>
          <!-- <div class="col-lg-5">

            <input type="text" class="form-control" id="fname">
          </div> -->
        </div>
      </div>

      <!-- <div class="form-group">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-11">
            <label></label>
          </div>
        </div>
      </div>
      </form> -->



  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <!--<a class="navbar-brand" href="#">Ye-Lemma CMS</a>-->
      </div>
      <ul class="nav navbar-nav foot">
        <li class="nav_color"><a th:href="@{/about_us}" style="color: white;">About Us</a></li>
        <li class="nav_color"><a th:href="@{/contact_us}" style="color: white;">Contact Us</a></li>
      </ul>
    </div>
  </nav>

    </div>
    <!--<footer>
    <div class="foot">
  <div class="row foot">
    <div class="col-lg-1"></div>
    <div class="col-lg-2">HOME</div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">ABOUT US</div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">CONTACT US</div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">FAQ</div>
  </div>
</div>
    </footer>-->
  </body>
</html>
