<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Access Denied</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<nav class="navbar  navbar-light bg-light">
		
			<h1 class="text-danger">Access Denied!</h1>
		
	</nav>
	<div class="container">

		<hr />
		<a class="btn btn-primary-outline display-4" th:href="@{/}" id="another">Please go back to our Home Page</a><br />
		<hr />
		&copy; Yelemma CMS
	</div>


    <script th:href="@{/js/jquery-3.3.1.slim.min.js}" src="../js/jquery-3.3.1.slim.min.js"></script>
    <script th:href="@{/js/popper.min.js}" src="../js/popper.min.js"></script>
    <script th:href="@{/assets/bootstrap/js/bootstrap.min.js}" src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script th:href="@{/js/holder.min.js}" src="../js/holder.min.js"></script>
</body>
</html>