<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Approve Schedule</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>
  
  <body>

<nav class="navbar navbar-inverse">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="receptionHome.php" style="color: white;">Ye-Lemma CMS</a>
      </div>
      <ul class="nav nav-tabs navbar-nav nav_radius">
        <li><a th:href="@{/approve}" class="active">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/logout}" style="color: white"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
  <h2 style="margin: 10px;">Today's Schedule</h2>
   		
		<table class="table table-bordered table-striped table-hover" th:objects = "${appointment}" >
		<thead>
		<tr>
			  	<th>ID</th>
			    <th>Patient</th>
			    <th>Doctor</th>
			  
			    <th>Time</th>
			    <th>Approve</th>
			  </tr>
		</thead>
		<tbody>
		<form method="POST" th:object = "${appointment}" th:action="@{/approve}"> 
		<tr th:each="appointments: ${appointment}" id = "sth">



 <td><span th:text="${appointments.appointmentId}">Patient</span></td>
			    <td><span th:text="${appointments.patient.user.firstName}"  >Patient</span></td>
			    <td><span th:text="${appointments.doctor.firstName}">Patient</span></td>

			    <td><span th:text="${appointments.appointmentTime}">Patient</span></td>
			   	<td>	<button  name="appointmentId" th:value="${appointments.appointmentId}" >Submit</button></td>	
			   	
			  </tr>
			  	</form>
	
		</tbody>
			  
			   
			  
		
			  
</table>
	
	

</div>

 <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <!--<a class="navbar-brand" href="#">Ye-Lemma CMS</a>-->
      </div>
      <ul class="nav navbar-nav foot">
        <li class="nav_color"><a th:href="@{/about_us}" style="color: white;">About Us</a></li>
        <li class="nav_color"><a th:href="@{/contact_us}" style="color: white;">Contact Us</a></li>
      </ul>
    </div>
  </nav>
</body>
</html>