<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
    <style type="text/css">
    	form{
    		padding: 20px;
    	}
    </style>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.min.js"></script>
    <script>
          $(document).ready(function(){
            $("#yelemma").click(function(){
              $("#yelemma").animate({left:'250px'});
            })
          });

    </script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
          <p><a href="index.php" style="color:white;">Ye-Lemma CMS</a></p>
        </div>
      </div>
    </div>
<!--
    <nav class="navbar navbar-primary">
	  <div class="container-fluid">
	    <div class="navbar-header col-lg-2">
	      <a class="navbar-brand" href="#">HOME</a>
	    </div>
	    <div class="navbar-header col-lg-2">
	      <a class="navbar-brand" href="#">Account</a>
	    </div>
	    <div class="navbar-header col-lg-2">
	      <a class="navbar-brand" href="#">About</a>
	    </div>

	  </div>
    </nav> -->
    <div class="user_input">
    <h3 class="login">Contact Us By Telephone Numbers:</h3>
    <form role="form">
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3">
            <label for="email">Telephone Number 1:</label>
          </div>
          <div class="col-lg-5">

            <label>+251-11-123-9306</label>


          </div>
        </div>
      </div>

      <div class="form-group">
      <div class="row">
          <div class="col-lg-3">
            <label for="email">Telephone Number 2:</label>
          </div>
          <div class="col-lg-5">

            <label>+251-91-121-1273</label>
          </div>
        </div>
        </div>

        <div class="form-group">
      <div class="row">
          <div class="col-lg-3">
            <label for="email">Telephone Number 3:</label>
          </div>
          <div class="col-lg-5">

            <label>+251-93-009-9445</label>
          </div>
        </div>
        </div>


 <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <!--<a class="navbar-brand" href="#">Ye-Lemma CMS</a>-->
      </div>
      <ul class="nav navbar-nav foot">
        <li class="nav_color"><a th:href="@{/about_us}" style="color: white;">About Us</a></li>
        <li class="nav_color"><a th:href="@{/contact_us}" style="color: white;">Contact Us</a></li>
      </ul>
    </div>
  </nav>

</form>
    </div>
    <!--<footer>
    <div class="foot">
	<div class="row foot">
		<div class="col-lg-1"></div>
		<div class="col-lg-2">HOME</div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">ABOUT US</div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">CONTACT US</div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">FAQ</div>
	</div>
</div>
    </footer>-->
  </body>
</html>
