<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Order Lab</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>
  
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="color: white;">Ye-Lemma CMS</a>
      </div>
      <ul class="nav nav-tabs navbar-nav">
        <li><a th:href="@{/schedule}" class="active" >Home</a></li>
        <li><a th:href="@{/viewLabResults}" style="color:white;" >Results</a></li>
        <li><a th:href="@{/addRecord}" style="color:white;">Add Record</a></li>
         <li> <a th:href="@{/viewRecord}" style="color:white;">View Record</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/logout}" style="color: white"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
<div class="container containerstyle">
<div class="panel panel-default">
<div class="panel-heading">Test Ordering Information</div>
<div class="panel-body panelstlye">

  <form method="POST" th:object="${labExam}" th:action="@{/orderLab}">

	<div class="row">
      <div class="col-lg-3">
       <h1><span th:utext="${errorMessage}"></span></h1>
      </div>
      
        
      </div>


	
    <div class="form-group">
    <div class="row">
      <div class="col-lg-3">
        <label for="email">Patient ID</label>
      </div>
      <div class="col-lg-5">
        <input readonly type="text" class="form-control" id="name" name = "patient" th:value="*{patient.id}" />
      </div>
      <div class="col-lg-2">
        
      </div>

    </div>
    </div>

    <div class="form-group">
    <div class="row">
      <div class="col-lg-2">
        <label for="email">Required Test Exams:</label>
      </div>

    </div>
    </div>



  <div>
    <div class="row">
      <div class="col-lg-2">
        <textarea rows="10" cols="50" th:field="*{testType}"></textarea>
      </div>
     
    </div>
  </div>

    <button type="submit" class="btn btn-primary btn-success login_btn">Order Exam</button>
</form>

 </div>
	  
    <!-- <form >
      <input type="checkbox" name="value1" value="value1">
      <input type="checkbox" name="value2" value="value2">
      <button type="submit">submit</button>
    </form> -->
</div>
</div>


 <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <!--<a class="navbar-brand" href="#">Ye-Lemma CMS</a>-->
      </div>
      <ul class="nav navbar-nav foot">
        <li class="nav_color"><a th:href="@{/about_us}" style="color: white;">About Us</a></li>
        <li class="nav_color"><a th:href="@{/contact_us}" style="color: white;">Contact Us</a></li>
      </ul>
    </div>
  </nav>

  </body>
</html>