<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Daily Schedule</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="docHome.php" style="color: white;">Ye-Lemma CMS</a>
      </div>
      <ul class="nav nav-tabs navbar-nav nav_radius">
        <li><a th:href="@{/schedule}" class="active" >Home</a></li>
        <li><a th:href="@{/viewLabResults}" style="color:white;" >Results</a></li>
        <li><a th:href="@{/addRecord}" style="color:white;">Add Record</a></li>
         <li> <a th:href="@{/viewRecord}" style="color:white;">View Record</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/logout}" style="color: white"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
  <h2>Today's Schedule</h2>
  
  <table class="table table-bordered table-striped table-hover ">
    	<thead>
    	<tr>
        <th></th>     
        
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Appointment Time</th>
        <th>Order</th>
        

      </tr>
    	</thead>
    	<tbody>
    	<form method="POST" th:object="${appointment}" th:action="@{/schedule}">
    	 <tr th:each="appointments:${appointmentMap}">
    	<td><span th:text="${appointments.appointmentId}"  ></span></td>
    	<td><span th:text="${appointments.patient.user.firstName}"></span></td>
    	<td><span th:text="${appointments.patient.user.lastName}"></span></td>
    	<td><span th:text="${appointments.patient.age}"></span></td>
    	<td><span th:text="${appointments.appointmentTime}"></span></td>
    	<td>  <button name="appointmentId" th:value="${appointments.appointmentId}">Submit</button></td>
    	</tr> 
    	 </form>
    	</tbody>
      
   
   
    	
    	

  </table>
  

  

</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <!--<a class="navbar-brand" href="#">Ye-Lemma CMS</a>-->
      </div>
      <ul class="nav navbar-nav foot">
        <li class="nav_color"><a th:href="@{/about_us}" style="color: white;">About Us</a></li>
        <li class="nav_color"><a th:href="@{/contact_us}" style="color: white;">Contact Us</a></li>
        <!-- <li class="nav_color"><a href="#" style="color: white;">FAQ</a></li> -->
      </ul>
    </div>
  </nav>

</body>

</html>