<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>View Lab Orders</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>
  
  <body>

<nav class="navbar navbar-inverse">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="receptionHome.php" style="color: white;">Ye-Lemma CMS</a>
      </div>
      <ul class="nav nav-tabs navbar-nav nav_radius">
        <li><a th:href="@{/viewLab}" class="active">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/logout}" style="color: white"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
  <h2 style="margin: 10px;">Lab Orders</h2>

 
		<table class="table table-bordered table-striped table-hover" >
			<thead>
			 <tr>
			  	<th></th>
			    <th>Patient</th>
			    <th>Doctor</th>
			  
			    <th>Test Type</th>
			    <th>Post</th>
			  </tr>
			</thead>
			
			<tbody>
			 <form method="POST" th:object = "${LabExam}" th:action="@{/viewLab}">   
			 <tr th:each="labExam: ${labExamMap}" id = "sth">
			  

			  	<td><span th:text="${labExam.labExamId}" ></span></td>

	
				

					
					<td ><span th:text="${labExam.patient.user.firstName}"></span></td>
					
				
			    

			    <td><span th:text="${labExam.doctor.firstName}">Patient</span></td>
			    <td><span th:text="${labExam.testType}">Patient</span></td>
			    <td>	<button name="labExamId" th:value="${labExam.labExamId}">Submit</button></td>
			   	
			  </tr>
			  </form>
			</tbody>
			 
			  
			 
			  
</table>
	
	

</div>

  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <!--<a class="navbar-brand" href="#">Ye-Lemma CMS</a>-->
      </div>
      <ul class="nav navbar-nav foot">
        <li class="nav_color"><a th:href="@{/about_us}" style="color: white;">About Us</a></li>
        <li class="nav_color"><a th:href="@{/contact_us}" style="color: white;">Contact Us</a></li>
      </ul>
    </div>
  </nav>
</body>
</html>