<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Book Schedule</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>
  
  <body>

  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="color: white;">Ye-Lemma CMS</a>
      </div>
      <ul class="nav nav-tabs navbar-nav nav_radius">
        <li><a href="home.php" class="active">Home</a></li>
        <li><a href="patient_history.php" style="color: white;">My History</a></li>
        <li><a href="patient_account.php"  style="color:white;">Account</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="logout.php" style="color: white"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>

  <div class="content">

   
      </div>

<form th:method="POST" th:action="@{/book}" th:object="${appointment}">
<div class="form-group">
        <div class="row">
          <div class="col-lg-5"></div>
          <div class="col-lg-2">
          <h1><span th:utext="${successMessage}"></span> </h1>
          <h1><span th:utext="${errorMessage}"></span></h1>
            <label for="email">Select A Department:</label>
          </div>
          <div class="col-lg-2">
            <select class="form-control"  th:field="*{doctorId}" name = "doctorId" id="doctorId">

              <option th:value="2">Pediatrics</option>
              <option th:value="3" >Internal Medicine</option>
              <option th:value="4">Radiology</option>
            </select>

            
          </div>
        </div>
      </div>





<div class="form-group">
        <div class="row">
          <div class="col-lg-5"></div>
          <div class="col-lg-2">

            <label>Appointment Time:</label>
            
            
          </div>
          <div class="col-lg-2">
          <input type="time" step="1800" th:field="*{appointmentTime}"/>
            <span class="text-danger" th:if="${#fields.hasErrors('appointmentTime')}" th:errors="*{appointmentTime}">Error</span>
          

            


          </div>
        </div>
</div>

<div class="form-group">
        <div class="row">
          <div class="col-lg-5"></div>
          <div class="col-lg-2">

            <label>Appointment Date:</label>
            
            
          </div>
          <div class="col-lg-2">
          
          <input type="date" th:value="*{appointmentDate}"  th:field="*{appointmentDate}"/>

            


          </div>
        </div>
</div>


<div class="row">
  <div class="col-lg-8"></div>
<button type="submit" class="btn btn-success login_btn" >Book</button>
</div>
</form>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <!--<a class="navbar-brand" href="#">Ye-Lemma CMS</a>-->
      </div>
      <ul class="nav navbar-nav foot">
        <li class="nav_color"><a href="about_us.html" style="color: white;">About Us</a></li>
        <li class="nav_color"><a href="contact_us.html" style="color: white;">Contact Us</a></li>
        <li class="nav_color"><a href="#" style="color: white;">FAQ</a></li>
      </ul>

    </div>
  </nav>


</body>
</html>